/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

/* header */

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 6rem;
  background-color: #fff;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgb(38 57 77) 0px 20px 30px -10px;
}

#header .header__logo .header__logo--img {
  display: inline-flex;
}

.header__logo .header__logo--img .logo {
  margin-left: 6rem;
}

#header__nav ul {
  display: flex;
  list-style-type: none;
  margin-bottom: 0;
}

#header__nav ul li a:hover {
  transition: all 0.4s ease;
  color: #0275d8;
}

#header__nav ul li a {
  text-decoration: none;
  display: block;
  font-size: 2rem;
  color: black;
  font-weight: 700;
  padding: 0.8rem 5.5rem;
}

#header__nav ul li a.active {
  color: #0275d8;
}

#header .header__myacc {
  display: flex;
  flex-wrap: wrap;
  font-size: 2rem;
}

#header .header__myacc > ion-icon {
  color: #0275d8;
  cursor: pointer;
  font-size: 3rem;
  padding-right: 3rem;
}

.header__myacc .nav__mount {
  display: inline-block;
  position: absolute;
  transform: translate(103%, -39%);
  font-size: 1.2rem;
  padding: 3px 8px;
  background-color: #ff6900;
  color: #fff;
  border-radius: 50%;
}

#header .header__myacc .my__acc {
  font-weight: 600;
  background-color: #0275d8;
  font-size: 2rem;
  color: #fff;
  padding: 0.6rem 2.4rem;
  text-transform: capitalize;
  border: none;
  border-radius: 0.4rem;
  font-size: 1.6rem;
}

#header .header__myacc .my__acc:hover {
  background-color: #025aa5;
}

.btn {
  padding: 0.6rem 2.4rem;
  text-transform: capitalize;
  border: none;
  border-radius: 0.4rem;
  font-size: 1.6rem;
}
/* title about */
.about-title {
  background-image: linear-gradient(0, rgb(19, 19, 19), rgba(19, 19, 19, 0.1)),
    url(./img/bg-title.png);
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: rgba(19, 19, 19, 1);
  margin-top: 6rem;
}

.about-title > h1 {
  font-size: 5.6rem;
  color: #fff;
  margin: 0 6rem;
  font-weight: 700;
  text-shadow: 0 -3px 0 #333, 0 6px 8px rgb(0 0 0 / 40%),
    0 9px 10px rgb(0 0 0 / 15%), 0 30px 10px rgb(0 0 0 / 18%),
    0 15px 10px rgb(0 0 0 / 21%);
}

.conten-ab {
  margin-top: 10rem;
  margin-right: 10rem;
  height: 56rem;
}

.conten-ab .img-ab {
  float: left;
  margin-right: 10rem;
}

.conten-ab .img-content-ab li {
  list-style-type: none;
}

.conten-ab .img-ab > img {
  max-width: 100%;
  height: 56rem;
  margin-left: 10rem;
  margin-right: 2rem;
}

.conten-ab .img-content-ab {
  padding-top: 6rem;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: justify;
  height: 56rem;
  font-family: var(--body-font-family);
}

.conten-ab .img-content-ab h2 {
  font-size: 5.6rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.conten-ab .img-content-ab .btn {
  font-size: 2rem;
  margin: 1rem;
}

/* footer */
#footer {
  background-color: #333;
  padding: 10rem 10rem;
  margin-top: 10rem;
  text-align: center;
  font-size: 1.2rem;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.2rem;
}

.icon__social {
  font-size: 3rem;
  display: flex;
  margin-bottom: 3rem;
  justify-content: center;
  align-items: center;
}

.icon__social span {
  border: 0.2rem solid #0275d8;
  color: #0275d8;
  text-align: center;
  padding: 1.2rem;
  border-radius: 50%;
  line-height: 2rem;
  margin-right: 1.2rem;
}

.icon__social span:hover {
  cursor: pointer;
  background-color: #0275d8;
  color: #fff;
  transition: all 0.2s ease;
}

.copyright {
  font-size: 1.6rem;
  color: #fff;
  margin-top: 2rem;
}

.copyright a {
  color: #0275d8;
  text-decoration: none;
  font-family: "Bebas Neue", cursive;
}

/* ============== MODAL CART=============== */

.modal-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2000;
}

.modal-wrapper.open-cart__wrapper {
  display: block;
}

.modal-cart.open-cart {
  display: flex;
}

.modal-cart {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  background: #fff;
  flex-direction: column;
  max-width: 100%;
  width: 40rem;
  bottom: 0;
  padding: 0 2.4rem;
  font-size: 1.6rem;
}

.modal-cart__header {
  display: flex;
  justify-content: space-between;
}

.modal-cart__header h5 {
  font-size: 2rem;
  font-family: Oswald;
  padding: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.modal-cart__header ion-icon {
  font-size: 3.2rem;
  padding: 16px;
  cursor: pointer;
  color: #888888;
}

.modal-cart__header ion-icon:hover {
  color: #333;
}

.modal-cart__container {
  padding: 1.6rem;
}

.modal-cart__shopping {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.modal-cart__close {
}

.modal-cart__close > ion-icon {
  color: red;
  font-size: 2.4rem;
  --ionicon-stroke-width: 8rem;
  cursor: pointer;
}

.modal-cart__close > ion-icon:hover {
  background-color: red;
  color: #fff;
  border-radius: 50%;
}

.modal-cart__name {
  font-weight: 700;
  color: #0275d8;
}

.modal-cart__img {
}

.modal-cart__img img {
  width: 3.2rem;
}

.modal-cart__quantity {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0;
}

.modal-cart__quantity input {
  width: 36px;
  border-radius: 4px;
  border-color: #ebe9eb;
}

.modal-cart__total {
  border-top: 5px double #ebe9eb;
  padding-top: 5px;
}

.modal-cart__btn {
}

.modal-cart__btn button {
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.6rem 2.4rem;
  border: 2px solid;
}

.modal-cart__btn--view {
  background-color: #f76e2e;
}

.modal-cart__btn--view:hover {
  background-color: #e95009;
  border-color: #e95009;
}

.modal-cart__btn--check {
  background-color: #0275d8;
}

.modal-cart__btn--check:hover {
  background-color: #025aa5;
  border-color: #025aa5;
}


/* ======================RESPONSIVE PC ========================= */
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  #header .header__log {
    width: 20%;
  }

  #header #header__nav #header__myacc {
    width: 80%;
  }

  .table-column-1 {
    width: 40%;
    box-sizing: border-box;
  }

  .table-column-1 .img-ab img {
    width: 90%;
    height: auto;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .table-column-2 .img-content-ab {
    box-sizing: border-box;
    margin-left: 50px;
    width: 60%;
    max-width: 700px;
    min-width: 500px;
    display: table-cell;
    vertical-align: middle;
  }
}
@media only screen and (max-width: 1200px) {
  #header .header__log {
    width: 20%;
  }
  #header #header__nav #header__myacc {
    width: 80%;
  }
  #header #header__nav ul li a {
    padding: 0.8rem 4.5rem;
    padding-right: 3rem;
    
  }
}