/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

/* header */

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 6rem;
  background-color: #fff;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgb(38 57 77) 0px 20px 30px -10px;
}

#header .header__logo .header__logo--img {
  display: inline-flex;
}

.header__logo .header__logo--img .logo {
  margin-left: 6rem;
}

#header__nav ul {
  display: flex;
  list-style-type: none;
  margin-bottom: 0;
}

#header__nav ul li a:hover {
  color: #0275d8;
  transition: all 0.4s ease;
}

#header__nav ul li a {
  text-decoration: none;
  display: block;
  font-size: 2rem;
  color: black;
  font-weight: 700;
  padding: 0.8rem 5.5rem;
}

#header__nav ul li a.active {
  color: #0275d8;
}

#header .header__myacc {
  display: flex;
  flex-wrap: wrap;
  font-size: 2rem;
}

#header .header__myacc > ion-icon {
  color: #0275d8;
  cursor: pointer;
  font-size: 3rem;
  padding-right: 3rem;
}

.header__myacc .nav__mount {
  display: inline-block;
  position: absolute;
  transform: translate(50%, -39%);
  font-size: 1.2rem;
  padding: 3px 8px;
  background-color: #ff6900;
  color: #fff;
  border-radius: 50%;
}

#header .header__myacc .my__acc {
  font-weight: 600;
  background-color: #0275d8;
  font-size: 2rem;
  color: #fff;
  padding: 0.6rem 2.4rem;
  text-transform: capitalize;
  border: none;
  border-radius: 0.4rem;
  font-size: 1.6rem;
}

#header .header__myacc .my__acc:hover {
  background-color: #025aa5;
}

.btn {
  padding: 0.6rem 2.4rem;
  text-transform: capitalize;
  border: none;
  border-radius: 0.4rem;
  font-size: 1.6rem;
}

.slide {
  color: #0275d8;
}

/* --- */

.contact-title {
  background-image: linear-gradient(0, rgb(19, 19, 19), rgba(19, 19, 19, 0.1)),
    url(./img/bg-title.png);
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
  margin-top: 6rem;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: rgba(19, 19, 19, 1);
}

.contact-title h1 {
  font-size: 5.6rem;
  color: #fff;
  margin: 0 6rem;
  font-weight: 700;
  text-shadow: 0 -3px 0 #333, 0 6px 8px rgb(0 0 0 / 40%),
    0 9px 10px rgb(0 0 0 / 15%), 0 30px 10px rgb(0 0 0 / 18%),
    0 15px 10px rgb(0 0 0 / 21%);
}

/* content */

.container-contact {
  padding-top: 10rem;
  margin-left: 10rem;
  margin-right: 10rem;
  font-family: var(--body-font-family);
}

.container-title-form {
  text-align: center;
}

.container-title-form .title-form {
  text-align: center;
  width: 50%;
  display: inline-block;
}

.container-title-form .title-form > h2 {
  font-size: 5.6rem;
  font-weight: 700;
}

.container-title-form .title-form > p {
  font-size: 2rem;
  font-weight: 300;
  color: rgba(0, 0, 0, 1);
  padding-top: 2rem;
  line-height: 2.5rem;
}

.title-info {
  display: flex;
}

.title-info .title-info-left {
  width: 40%;
}

.title-info .title-info-left .content-left {
  padding-top: 2.5rem;
}

.content-left h2 {
  font-size: 3.2rem;
  font-weight: 700;
}

.content-left p {
  font-size: 1.6rem;
  line-height: 2.5rem;
  padding-top: 1.5rem;
}

.info-input {
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: block;
}

.info-input .input-form {
  width: 100%;
  padding: 1.2rem 1.2rem;
  font-size: 1.6rem;
  border: 1px solid #ccc;
  margin-top: 2.2rem;
  margin-left: 2rem;
  font-family: inherit;
  font-weight: 400;
  border-radius: 0.6rem;
}

.info-input .input-form:focus {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  outline-color: #0275d8;
}

.info-input .btn-send-mes {
  width: 100%;
  padding: 1.2rem 1.2rem;
  margin-top: 2.2rem;
  margin-left: 2rem;
  color: #fff;
  background-color: #0275d8;
  border-radius: 0.6rem;
  font-family: inherit;
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
}

/* footer */
#footer {
  background-color: #333;
  padding: 10rem 10rem;
  margin-top: 10rem;
  text-align: center;
  font-size: 1.2rem;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.2rem;
}

.icon__social {
  font-size: 3rem;
  display: flex;
  margin-bottom: 3rem;
  justify-content: center;
  align-items: center;
}

.icon__social span {
  border: 0.2rem solid #0275d8;
  color: #0275d8;
  text-align: center;
  padding: 1.2rem;
  border-radius: 50%;
  line-height: 2rem;
  margin-right: 1.2rem;
}

.icon__social span:hover {
  cursor: pointer;
  background-color: #0275d8;
  color: #fff;
  transition: all 0.2s ease;
}

.copyright {
  font-size: 1.6rem;
  color: #fff;
  margin-top: 2rem;
}

.copyright a {
  color: #0275d8;
  text-decoration: none;
  font-family: "Bebas Neue", cursive;
}

/* ============== MODAL CART=============== */

.modal-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2000;
}

.modal-wrapper.open-cart__wrapper {
  display: block;
}

.modal-cart.open-cart {
  display: flex;
}

.modal-cart {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  background: #fff;
  flex-direction: column;
  max-width: 100%;
  width: 40rem;
  bottom: 0;
  padding: 0 2.4rem;
  font-size: 1.6rem;
}

.modal-cart__header {
  display: flex;
  justify-content: space-between;
}

.modal-cart__header h5 {
  font-size: 2rem;
  font-family: Oswald;
  padding: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.modal-cart__header ion-icon {
  font-size: 3.2rem;
  padding: 16px;
  cursor: pointer;
  color: #888888;
}

.modal-cart__header ion-icon:hover {
  color: #333;
}

.modal-cart__container {
  padding: 1.6rem;
}

.modal-cart__shopping {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.modal-cart__close {
}

.modal-cart__close > ion-icon {
  color: red;
  font-size: 2.4rem;
  --ionicon-stroke-width: 8rem;
  cursor: pointer;
}

.modal-cart__close > ion-icon:hover {
  background-color: red;
  color: #fff;
  border-radius: 50%;
}

.modal-cart__name {
  font-weight: 700;
  color: #0275d8;
}

.modal-cart__img {
}

.modal-cart__img img {
  width: 3.2rem;
}

.modal-cart__quantity {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0;
}

.modal-cart__quantity input {
  width: 36px;
  border-radius: 4px;
  border-color: #ebe9eb;
}

.modal-cart__total {
  border-top: 5px double #ebe9eb;
  padding-top: 5px;
}

.modal-cart__btn {
}

.modal-cart__btn button {
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.6rem 2.4rem;
  border: 2px solid;
}

.modal-cart__btn--view {
  background-color: #f76e2e;
}

.modal-cart__btn--view:hover {
  background-color: #e95009;
  border-color: #e95009;
}

.modal-cart__btn--check {
  background-color: #0275d8;
}

.modal-cart__btn--check:hover {
  background-color: #025aa5;
  border-color: #025aa5;
}
