/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

/* header */

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 6rem;
  background-color: #fff;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

#header .logo {
  margin-left: 6rem;
}

#nav {
  display: inline-block;
  list-style-type: none;
  margin-left: 8rem;
  width: 100%;
}

#nav > li {
  display: inline-block;
  margin-left: 6rem;
}

#nav > li:hover {
  background-color: #ccc;
}

#nav li a {
  text-decoration: none;
  line-height: 6rem;
  padding: 0 1rem;
  display: block;
  font-size: 2rem;
  color: black;
  font-weight: 600;
}

#header .btn-myacc {
  line-height: 6rem;
  justify-content: space-between;
  display: inline-block;
  margin-left: 25rem;
  font-size: 2rem;
}

#header .btn-myacc .bi {
  margin-right: 2rem;
  color: #0275d8;
}

#header .btn-myacc .btn {
  font-weight: 600;
  background-color: #0275d8;
  font-size: 2rem;
}

/* --- */

.contact-title {
  background-image: linear-gradient(0, rgb(19, 19, 19), rgba(19, 19, 19, 0.1)),
    url(./assets/img/bg-title.png);
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
  margin-top: 6rem;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: rgba(19, 19, 19, 1);
}

.contact-title h1 {
  font-size: 5.6rem;
  color: #fff;
  margin: 0 6rem;
  font-weight: 700;
}

/* content */

.container-contact {
  padding-top: 10rem;
  padding-bottom: 10rem;
  margin-left: 10rem;
  margin-right: 10rem;
}

.container-title-form {
  text-align: center;
}

.container-title-form .title-form {
  text-align: center;
  width: 50%;
  display: inline-block;
}

.container-title-form .title-form > h2 {
  font-size: 5.6rem;
}

.container-title-form .title-form > p {
  font-size: 2rem;
  font-weight: 300;
  color: rgba(0, 0, 0, 1);
  padding-top: 2rem;
  line-height: 2.5rem;
}

.title-info {
  display: flex;
}

.title-info .title-info-left {
  width: 40%;
}

.title-info .title-info-left .content-left {
  padding-top: 2.5rem;
}

.content-left h2 {
  font-size: 3.2rem;
  font-weight: 700;
}

.content-left p {
  font-size: 1.6rem;
  line-height: 2.5rem;
  padding-top: 1.5rem;
}

.info-input {
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: block;
}

.info-input .input-form {
  width: 100%;
  padding: 1.2rem 1.2rem;
  font-size: 1.6rem;
  border: 1px solid #ccc;
  margin-top: 2.2rem;
  margin-left: 2rem;
  font-family: inherit;
  font-weight: 400;
  border-radius: 0.6rem;
}

.info-input .input-form:focus {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  outline-color: #0275d8;
}

.info-input .btn-send-mes {
  width: 100%;
  padding: 1.2rem 1.2rem;
  margin-top: 2.2rem;
  margin-left: 2rem;
  color: #fff;
  background-color: #0275d8;
  border-radius: 0.6rem;
  font-family: inherit;
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
}

/* footer */
#footer {
  background-color: #ccc;
}

.border {
  margin-top: 10rem;
}

#footer .socials-list {
  padding: 6.6rem 1.6rem;
  text-align: center;
  font-size: 2.6rem;
}

#footer .socials-list a {
  color: rgba(0, 0, 0, 0.6);
  padding: 1rem;
  text-decoration: none;
}
